[submodule "search/pyvespa"]
	path = search/pyvespa
	url = git@github.com:filippo82/pyvespa.git
[submodule "search/sample-apps"]
	path = search/sample-apps
	url = git@github.com:filippo82/sample-apps.git
