
# Dataset
arxiv
bokeh==2.4.3
dask[dataframe,distributed]
gcsfs
kaggle
# General
pip

# Data engineering
prefect-gcp[cloud_storage,bigquery,secret_manager]

# TBD
pydantic

# Search
pyvespa
requests
sentence_transformers

# App
streamlit

# NLP
transformers
ujson
wheel
