--extra-index https://download.pytorch.org/whl/cpu
arxiv
bokeh==2.4.3
dask[dataframe,distributed]
datasets @ git+https://github.com/huggingface/datasets.git
evaluate
fitz # This is needed by chatpaper
gcsfs
ipywidgets
kaggle
# langchain @ git+https://github.com/hwchase17/langchain.git  # installed in editable mode from a local GitHub repo
langchain
lark
openai
optimum[onnxruntime]
# paper-qa @ git+https://github.com/whitead/paper-qa.git
pip
prefect-gcp[cloud_storage,bigquery,secret_manager]
pydantic
pyvespa @ git+https://github.com/vespa-engine/pyvespa.git
requests
sentence_transformers
streamlit
tiktoken
torch==2.1.0+cpu
transformers
ujson
wheel
zarr
