--extra-index-url https://download.pytorch.org/whl/cpu
feedparser
gcsfs
kaggle
optimum[onnxruntime]
prefect-gcp[cloud_storage,bigquery,secret_manager]
python-dateutil
pyvespa
requests
sentence_transformers
torch==2.1.0+cpu
transformers[sentencepiece,torch]
zarr
